@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ebebeb;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "bestFont";
  src: url(./fonts/Blanquotey.ttf);
}

.navbar { z-index: 999; }

@layer base {
  :root {
    --radius: 0.5rem;
  }
}